.formulario{
    margin: 10px;
}

.list:hover{
    background-color:lightblue;
    cursor: pointer;
}

.element:hover{
    background-color: lightblue;
    cursor: pointer;
}

.botonNuevaLista{
    display: none;
}

.botonLista{
    display: none;
    margin: 10px;
}

.botonListaMostrar{
    display: block;
    margin: 10px;
}

.botonElemento{
    display: none;
    margin: 10px;
}
.listaTotal{
    margin: 20px;
}
.elementoMarcado{
    background-color: grey !important;
}

.botonElementoMostrar{
    display: block;
    margin: 10px;
}