.formulario{
    margin: 10px;
}

.list:hover{
    background-color:lightblue;
    cursor: pointer;
}

.botonGrande{
    font-weight: 800;
}

.element:hover{
    background-color: lightblue;
    cursor: pointer;
}

.elementoMarcado{
    background-color: grey !important;
}


.titulo-header{
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
}

.lista-header{
    text-align: left;
    margin: 5px;
    font-weight: 700;
}

.botonNuevaLista{
    display: none !important;
}

.botonNuevaListaMostrar{
    display: block !important;
}

.botonLista{
    display: none;
    margin: 10px;
}

.botonListaMostrar{
    display: block;
    margin: 10px;
}

.botonElemento{
    display: none;
    margin: 10px;
}
.listaTotal{
    margin: 20px;
}


.botonElementoMostrar{
    display: block;
    margin: 10px;
}