.formulario{
    margin: 10px;
}

.list:hover{
    background-color:lightblue;
    cursor: pointer;
}

.element:hover{
    background-color: lightblue;
    cursor: pointer;
}

.elementoMarcado{
    background-color: grey !important;
}

.elementoMarcado:hover{
    background-color: grey;
    cursor: pointer;
}

.titulo-header{
    text-align: center;
}

.botonNuevaLista{
    display: none !important;
}

.botonNuevaListaMostrar{
    display: block !important;
}

.botonLista{
    display: none;
    margin: 10px;
}

.botonListaMostrar{
    display: block;
    margin: 10px;
}

.botonElemento{
    display: none;
    margin: 10px;
}
.listaTotal{
    margin: 20px;
}


.botonElementoMostrar{
    display: block;
    margin: 10px;
}